<header>
  <img
    src="assets/images/naf.png"
    alt="Nelson Fornazeiro - foto do perfil"
    width="130px"
    height="130px"
    loading="eager"/>
    <h1>Nelson Fornazeiro</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs |NestJS</p>
    <p>São Paulo - SP, Brasil</p>
    <p>
      Estou na área de desenvolvimento há mais de 10 anos, atuando principalmente com tecnologias web.
      Tenho experiência em projetos de diversos segmentos, como e-commerce, saúde, educação e
      entretenimento. Sou apaixonado por tecnologia e estou sempre buscando aprender novas ferramentas e
      técnicas para aprimorar minhas habilidades.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/nelson-fornazeiro-75aa163a/" target="_blank" class="btn btn-primary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp-icon.svg"
          alt="WhatsApp"
          width="24px"
          height="24px"
        >
        <figcaption>
          <a href="https://wa.me/5511957143820?text=Ol%C3%A1%20, Nelson,%20preciso%20de%20um%20job." target="_blank">
            <strong>WhatsApp: </strong>
            (11) 95714-3820
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/envelope-icon.svg"
          alt="WhatsApp"
          width="24px"
          height="24px"
        >
        <figcaption>
          <a href="mailto:nelsonfornazeiro@gmail.com" target="_blank">
            <strong>Email: </strong>
            nelsonfornazeiro&#64;gmail.com
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
